@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.centered {
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
}

.scores a,
.timer {
  font-size: 20px;
}

.scores a {
  color: black;
  cursor: pointer;
}



.start-quiz {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin: 20px 0;
  font-style: italic;
  text-align: center;
}

.btn-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

button {
  font-family: 'PT Sans', sans-serif;
  border: none;
  width: auto;
  overflow: visible;
  padding: 25px;
  background-color: red;
  border-radius: 10px;
  font-size: large;
  margin: 10px;
  color: white;
}

button:hover {
  background-color: black;
}

.hide {
  display: none;
}

.btn.correct {
  background-color:green;
}

.btn.wrong {
  background-color: var;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

input[type="text"] {
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.highscore {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.name-div,
.score-div {
  flex: 1 35%;
  padding: 10px 0;
  border: 1px solid;
}